POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=car_dealer_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

STORAGE_POSTGRES_HOST=localhost
STORAGE_POSTGRES_PORT=5433
STORAGE_POSTGRES_DB=storage_db